<%= form.label field.attribute_name, field.options.label, class: "block text-sm font-medium leading-6 text-gray-900" %>
<% if field.required? %>
  <span class="text-red-500 font-semibold ml-1">*</span>
<% end %>
